@use '../mixins/utility.scss' as util;

.about {
	padding-bottom: 10rem;
	@include util.flexbox(column, flex-start, flex-start, 2rem);

	&__education {
		@include util.flexbox(column, flex-start, flex-start, 2rem);
	}

	h3 {
		margin-top: 2rem;
		opacity: 0.9;
	}
}

.row {
	@include util.flexbox(column, flex-start, flex-start, 0.5rem);
	color: var(--color-light);
	padding-bottom: 2rem;

	&:not(:last-child) {
		border-bottom: 1px solid #222;
	}

	&__timeline {
		font-size: 1.4rem;
		opacity: 0.7;
	}

	&__stream {
		font-size: 2rem;
		opacity: 0.9;
	}

	&__place {
		font-size: 1.4rem;
		opacity: 0.8;
		letter-spacing: 0.5px;
	}
}

.tools {
	@include util.flexbox(row, flex-start, flex-start, 2rem);
	flex-wrap: wrap;

	&__tool {
		border: 1px solid #303033;
		background-color: var(--color-base);
		border-radius: 1rem;
		padding: 2rem;

		@include util.flexbox(row, center, flex-start, 1rem);
		color: var(--color-light);
		font-size: 1.8rem;
	}

	&__icon {
		font-size: 4rem;
	}
}

.skills {
	@include util.flexbox(row, flex-start, flex-start, 2rem);

	span {
		color: var(--color-light);
		opacity: 0.8;
		border: 1px solid #303033;
		padding: 0.8rem 1.6rem;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		border-radius: 1rem;
		font-size: 1.2rem;
		background-color: var(--color-base);
	}
}
