@use '../mixins/utility.scss' as util;

.aside {
	border: 1px solid var(--color-light-gray);
	border-radius: var(--radius);
	@include util.flexbox(column, center, flex-start, 2rem);

	padding: 2rem;
	background-color: var(--color-base);

	&__profile {
		height: 20rem;
		width: 100%;
		border: 1px solid var(--color-light-gray);
		border-radius: var(--radius);
		background-size: cover;
		filter: contrast(70%) grayscale(50%);
	}

	&__profession {
		font-size: 2.4rem;
		color: var(--color-light);
	}

	&__icons {
		@include util.flexbox(row, flex-start, flex-start, 1rem);
	}

	&__icon {
		color: var(--color-light);
		font-size: 2rem;
	}
}
