@use '../mixins/utility.scss' as util;
@use '../mixins/media.scss' as media;

.aside {
	border: 1px solid var(--color-light-gray);
	border-radius: var(--radius-lg);
	@include util.flexbox(column, center, flex-start, 3rem);

	padding: 2rem;
	background-color: var(--color-base);
	position: relative;

	@include media.md {
		@include util.flexbox(row, flex-start, space-around, 0);
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 100%;
			width: 1px;
			background-color: var(--color-light-gray);
		}
	}

	@include media.sm {
		@include util.flexbox(column, center, center, 3rem);
		&::after {
			content: none;
		}
	}

	&__header,
	&__main {
		@include util.flexbox(column, center, flex-start, 2rem);
	}

	&__main {
		@include media.md {
			height: 100%;
			@include util.flexbox(column, flex-start, space-between, 0);
		}

		@include media.sm {
			// height: 100%;
			@include util.flexbox(column, center, flex-start, 2rem);
		}
	}

	&__main {
		& > *:last-child {
			margin-top: 2rem;
		}
	}

	&__profile {
		height: 20rem;
		width: 100%;
		border: 1px solid var(--color-light-gray);
		border-radius: var(--radius-md);
		background-size: cover;
		filter: contrast(70%) grayscale(50%);
		position: relative;
		overflow: hidden;

		@include media.md {
			width: 25rem;
		}

		@include media.sm {
			width: 100%;
		}
	}

	&__profession {
		font-size: 2.4rem;
		color: var(--color-light);
	}

	&__location {
		font-size: 1.4rem;
		color: var(--color-light);
		letter-spacing: 1px;
		opacity: 0.8;
	}

	&__icons {
		@include util.flexbox(row, flex-start, flex-start, 1rem);
	}

	&__icon {
		font-size: 2rem;
		color: var(--color-light);
		border: 1px solid var(--color-light-gray);
		background-color: var(--color-base);
		height: 5rem;
		width: 5rem;
		border-radius: 50%;
		display: grid;
		place-content: center;
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: var(--color-accent);
			color: var(--color-base);
		}
	}
}
