@use '../mixins/utility.scss' as util;

.footer {
	border-top: 1px solid #303033;
	padding-top: 10rem;
	color: var(--color-light);

	display: grid;
	grid-template-columns: 1fr;
	gap: 8rem;

	&__container {
		@include util.flexbox(row, center, space-between, 0);
	}

	&__group {
		@include util.flexbox(column, flex-start, flex-start, 1rem);

		span:first-child {
			font-size: 1.8rem;
			font-weight: 600;
			letter-spacing: 0.5px;
		}

		span:last-child {
			font-size: 1.4rem;
			letter-spacing: 0.5px;
			opacity: 0.8;
		}
	}

	&__copyright {
		font-size: 1.4rem;
		text-align: center;
		opacity: 0.5;
	}
}
