@use '../mixins/utility.scss' as util;

.logo {
	--size: 2.5rem;
	font-family: 'Bitter', serif;
	font-weight: 600;
	pointer-events: none;
	@include util.flexbox(row, center, flex-start, 0.8rem);

	&__initial {
		font-size: var(--size);
		background: var(--gradient);
		background-clip: text;
		color: transparent;
	}

	&__line {
		display: inline-block;
		height: calc(var(--size) + 1.5rem);
		rotate: 15deg;
		width: 2px;
		background-color: currentColor;
		color: #777;
	}

	&__name {
		font-size: calc(var(--size) - 0.4rem);
		text-transform: uppercase;
		letter-spacing: 2px;
		color: var(--color-light);
	}
}
